* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  padding: 10px 20px;
  background-color: #474646;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  column-gap: 10px;
}

ul li {
  list-style: none;
}

.cart {
  padding: 8px;
  background-color: green;
}

a {
  color: white;
  text-decoration: none;

}

/* product */
.heading {
  margin-bottom: 20px;
}

.card-contenar {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}

.contenar {
  border: 2px solid rgb(104, 101, 101);
  width: 15%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all ease 0.2s;

}

.contenar:hover {
  transform: scale(1.01);
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;


}

.img-box {
  width: 180px;
  height: 200px;
  padding: 10px;
  border: 2px solid grey;
  border-radius: 10px;
}

.img-box img {
  width: 100%;
  height: 100%;
}

h3 {
  margin: 5px 0;
}

button {
  padding: 8px 10px;
  background-color: rgb(61, 61, 212);
  color: white;
  border-radius: 10px;
  cursor: pointer;

}

button:active {
  background-color: blue;
}

/* ============== Product Details Components ============= */

.details-contenar {
  width: 90%;
  margin: auto;
  border: 2px solid grey;
  height: 90vh;
  display: flex;
  gap: 40px;


}

.img-details {
  width: 30%;
  border: 2px solid red;
  padding: 20px;

}

.img-details img {
  width: 100%;
}

.decription-contenar {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.decription-contenar h1 {
  font-size: 40px;
}

.decription-contenar p {
  font-size: 18px;
}

.decription-contenar .price {
  font-size: 40px;
}

.buy-btn {
  margin-left: 10px;
}